{
    padding:0;
    margin:0;
    font-family: monospace;
}
a{
    color: inherit;
    text-decoration: none;
}
.medsos{
    padding:5px 0;
    background-color: lightpink(29, 206, 206)
}
.medsos ul li {
    display: inline-block;
    color: sienna;
    margin-right: 10px;
}
.container {
    width: 80%;
    margin:0 auto;
}
.container:after{
    content: "";
    display: block;
    clear: both;
}
header h1{
    float: left;
    padding:15px 0px;
    color: lightpink(31, 224, 144);
}
header ul{
    float: right;
}
header ul li {
    display: inline-block;
}
header ul li a {
    padding:25px 20px;
    display: inline-block;
}
header ul li a:hover {
    background-color:rgb(72, 61, 139);
    color: ivory;
}
.active{
    background-color:rgb(72, 61, 139);
    color: ivory;
}
.banner{
    height: 60vh;
    background-image: url(banner.jpg) ;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner :after{
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom:0px;
}
.banner h2{
    color:floralwhite;
    z-index: 5;
    padding:20px 25px ;
    border: 3px solid floralwhite;
}
section{
    padding: 50px 0;
}
section h3{
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    outline-style: auto;
}
table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color:sienna(249, 96%, 27%);
    border-style: inset;
}
section h3{
    text-align: center;
    padding: 120px 0;
    color: darkslategrey;
    margin-bottom: 20px ;
}
.about{
    color: pink;
    line-height: 25px;
}
footer{
    padding: 30px 0;
    background-color:lightpink(31, 224, 144);
    color: peachpuff;
    text-align: center;
}
.label{
    background-color: palevioletred;
    color: floralwhite;
}
.gallery{
    margin: 5px;
    width: auto;
    float: inline-start;
}
.gallery img {
    width: 200px;
    height: auto;
}
